@model List<CoderGirl_MVCMovies.Models.Director>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<a id="add-new-director" asp-action="Create">Add New Director</a>
<table>
    <tr>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Nationality</th>
    </tr>
    @foreach (var director in Model)
    {
        <tr>
            <td>@director.LastFirst</td>
            <td>@director.BirthDate</td>
            <td>@director.Nationality</td>            
        </tr>
    }
</table>